# Aula 9 
### Manipulando Cadeias de Textos
Famosa String

In [1]:
frase = 'Curso em Vídeo Python'
print(frase)
print(frase[3])
print(frase[3:13])
print(frase[:13])
print(frase[1:15:2])
print(frase[1::2])
print(frase[::2])

Curso em Vídeo Python
s
so em Víde
Curso em Víde
us mVdo
us mVdoPto
Croe íe yhn

In [3]:
print(frase.count('o'))
print(frase.count('O'))
print(frase.upper().count('O'))
print(len(frase))
print(len(frase.strip()))
print(frase.replace('Python', 'Android'))
print(frase.find('Video'))
print(frase.find('Vídeo'))

3
0
3
21
21
Curso em Vídeo Android
-1
9

In [7]:
print(frase.split())
dividido = frase.split()
print(dividido[0])
print(dividido[2][3])

['Curso', 'em', 'Vídeo', 'Python']
Curso
e

# Exercícios

In [32]:
#22
nome = input("Entre com o nome completo:")
print(nome.upper())
print(nome.lower())
nome_split = nome.split()
nome_join = ''.join(nome_split)
print(nome_join)
print(len(nome_join))
print(len(nome_split[1]))

Entre com o nome completo: Vinicius Oliveira dos Santos

VINICIUS OLIVEIRA DOS SANTOS
vinicius oliveira dos santos
ViniciusOliveiradosSantos
25
8

In [37]:
#23
#String
num_string = str(input("Entre com número de 0 a 9999:"))
print(f"Unidade: {num_string[3]}")
print(f"Dezena: {num_string[2]}")
print(f"Centena: {num_string[1]}")
print(f"Milhar: {num_string[0]}")

Entre com número de 0 a 9999: 1834

Unidade: 4
Dezena: 3
Centena: 8
Milhar: 1

In [39]:
#23
#Matematicamente 

num_mat = int(input("Entre com número de 0 a 9999:"))
u = num_mat // 1 % 10
d = num_mat // 10 % 10
c = num_mat // 100 % 10
m = num_mat // 1000 % 10

print(f"Unidade: {u}")
print(f"Dezena: {d}")
print(f"Centena: {c}")
print(f"Milhar: {m}")

Entre com número de 0 a 9999: 1834

Unidade: 4
Dezena: 3
Centena: 8
Milhar: 1

In [47]:
#24
cidade = input("Entre com o nome da cidade")
cidade = cidade.split()
if (cidade[0].capitalize() == 'Santo'):
    print('Começa com Santo!')

Entre com o nome da cidade Santo André

Começa com Santo!

In [53]:
#25
nome = input("Entre com o nome:")
nome = nome.title()
nome_silva = nome.find('Silva')
if(nome_silva >= 0):
    print("Tem 'Silva' !")

Entre com o nome: Santos Silva

Tem 'Silva' !

In [66]:
#26
frase = input("Entre com uma frase: ")
print(frase.count('a'))
count = 0
# Utilizando find para achar o primeiro e o último 'a'
print(frase.upper().find('A'))
print(frase.upper().rfind('A'))

Entre com uma frase:  Arara Azul

2
0
10
0
6

In [62]:
#27
nome = input("Entre com uma nome: ")
nome_split = nome.split()
print(f"Primeiro: {nome_split[0]}")
print(f"Último: {nome_split[-1]}")

Entre com uma nome:  Vinicius Oliveira dos Santos

Primeiro: Vinicius
Último: Santos